In [1]:
import sqlalchemy
from sqlalchemy import create_engine
sqlalchemy.__version__

'1.3.5'

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [7]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
        Column('id', Integer, primary_key=True),
        Column('name', String),
        Column('fullname', String),
)

addresses = Table('addresses', metadata,
        Column('id', Integer, primary_key=True),
        Column('user_id', None, ForeignKey('users.id')),
        Column('email_address', String, nullable=False)
)

In [8]:
metadata.create_all(engine)

2019-08-13 20:52:10,975 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-08-13 20:52:10,977 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:10,980 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-08-13 20:52:10,984 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:10,987 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-08-13 20:52:10,990 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:10,992 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-08-13 20:52:10,994 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:10,995 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-08-13 20:52:11,000 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:11,006 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-13 20:52:11,008 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-08-13 20:52:11,010 INFO sqlalchemy.engine.base.Engine ()
2019-08-13 20:52:11,013 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
ins = users.insert()

In [11]:
str(ins)

'INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)'

In [12]:
ins = users.insert().values(name='jack', fullname='Jack Jones')

In [13]:
str(ins)

'INSERT INTO users (name, fullname) VALUES (:name, :fullname)'

In [15]:
ins.compile().params

{'name': 'jack', 'fullname': 'Jack Jones'}

执行

In [22]:
conn = engine.connect()

conn

In [18]:
result = conn.execute(ins)

2019-08-14 07:14:30,909 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-08-14 07:14:30,911 INFO sqlalchemy.engine.base.Engine ('jack', 'Jack Jones')
2019-08-14 07:14:30,914 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
ins.bind = engine

str(ins)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [23]:
result.inserted_primary_key

[1]

### Executing Multiple Statements

In [27]:
ins = users.insert()
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

2019-08-14 07:20:41,835 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (?, ?, ?)
2019-08-14 07:20:41,836 INFO sqlalchemy.engine.base.Engine (2, 'wendy', 'Wendy Williams')
2019-08-14 07:20:41,838 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
conn.execute(addresses.insert(), [
    {'user_id': 1, 'email_address' : 'jack@yahoo.com'},
    {'user_id': 1, 'email_address' : 'jack@msn.com'},
    {'user_id': 2, 'email_address' : 'www@www.org'},
    {'user_id': 2, 'email_address' : 'wendy@aol.com'},
])

2019-08-14 07:22:17,116 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-08-14 07:22:17,118 INFO sqlalchemy.engine.base.Engine ((1, 'jack@yahoo.com'), (1, 'jack@msn.com'), (2, 'www@www.org'), (2, 'wendy@aol.com'))
2019-08-14 07:22:17,119 INFO sqlalchemy.engine.base.Engine COMMIT

### selecting

In [30]:
>>> from sqlalchemy.sql import select
>>> s = select([users])
>>> result = conn.execute(s)

2019-08-14 07:54:16,112 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-08-14 07:54:16,113 INFO sqlalchemy.engine.base.Engine ()

In [32]:
>>> for row in result:
...     print(row)

(1, 'jack', 'Jack Jones')
(2, 'wendy', 'Wendy Williams')

In [33]:
>>> result = conn.execute(s)
>>> row = result.fetchone()
>>> print("name:", row['name'], "; fullname:", row['fullname'])

2019-08-14 07:58:10,207 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-08-14 07:58:10,208 INFO sqlalchemy.engine.base.Engine ()
name: jack ; fullname: Jack Jones

In [35]:
>>> row = result.fetchone()
>>> print("name:", row[1], "; fullname:", row[2])

name: wendy ; fullname: Wendy Williams

In [36]:
>>> for row in conn.execute(s):
...     print("name:", row[users.c.name], "; fullname:", row[users.c.fullname])

2019-08-14 08:00:53,980 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-08-14 08:00:53,982 INFO sqlalchemy.engine.base.Engine ()
name: jack ; fullname: Jack Jones
name: wendy ; fullname: Wendy Williams

In [37]:
result.close()

In [41]:
>>> s = select([users.c.name, users.c.fullname])
>>> result = conn.execute(s)
>>> for row in result:
...     print(row)

2019-08-14 08:03:39,354 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2019-08-14 08:03:39,355 INFO sqlalchemy.engine.base.Engine ()
('jack', 'Jack Jones')
('wendy', 'Wendy Williams')

In [42]:
>>> for row in conn.execute(select([users, addresses])):
...     print(row)

2019-08-14 08:04:33,013 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
2019-08-14 08:04:33,018 INFO sqlalchemy.engine.base.Engine ()
(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')
(1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')
(1, 'jack', 'Jack Jones', 3, 2, 'www@www.org')
(1, 'jack', 'Jack Jones', 4, 2, 'wendy@aol.com')
(2, 'wendy', 'Wendy Williams', 1, 1, 'jack@yahoo.com')
(2, 'wendy', 'Wendy Williams', 2, 1, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 3, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com')

In [43]:
>>> for row in conn.execute(select([users])):
...     print(row)

2019-08-14 08:06:32,917 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-08-14 08:06:32,919 INFO sqlalchemy.engine.base.Engine ()
(1, 'jack', 'Jack Jones')
(2, 'wendy', 'Wendy Williams')

In [44]:
>>> for row in conn.execute(select([addresses])):
...     print(row)

2019-08-14 08:06:39,429 INFO sqlalchemy.engine.base.Engine SELECT addresses.id, addresses.user_id, addresses.email_address
FROM addresses
2019-08-14 08:06:39,431 INFO sqlalchemy.engine.base.Engine ()
(1, 1, 'jack@yahoo.com')
(2, 1, 'jack@msn.com')
(3, 2, 'www@www.org')
(4, 2, 'wendy@aol.com')

In [45]:
>>> s = select([users, addresses]).where(users.c.id == addresses.c.user_id)
>>> for row in conn.execute(s):
...     print(row)

2019-08-14 08:09:25,026 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-08-14 08:09:25,026 INFO sqlalchemy.engine.base.Engine ()
(1, 'jack', 'Jack Jones', 1, 1, 'jack@yahoo.com')
(1, 'jack', 'Jack Jones', 2, 1, 'jack@msn.com')
(2, 'wendy', 'Wendy Williams', 3, 2, 'www@www.org')
(2, 'wendy', 'Wendy Williams', 4, 2, 'wendy@aol.com')

In [46]:
>>> users.c.id == addresses.c.user_id

In [47]:
str(users.c.id == addresses.c.user_id)

'users.id = addresses.user_id'

In [48]:
print(users.c.id == addresses.c.user_id)

users.id = addresses.user_id

In [49]:
print(users.c.id == 7)

users.id = :id_1

In [50]:
(users.c.id == 7).compile().params

{'id_1': 7}

In [51]:
>>> print(users.c.id != 7)

>>> # None converts to IS NULL
>>> print(users.c.name == None)

>>> # reverse works too
>>> print('fred' > users.c.name)

users.id != :id_1
users.name IS NULL
users.name < :name_1

In [52]:
print(users.c.id + addresses.c.id)

users.id + addresses.id

In [53]:
print(users.c.name + users.c.fullname)

users.name || users.fullname